#cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 7% 0 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
  box-sizing: border-box;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 20px;
}

.card p:last-child {
  /* : last-child 指的是在同一個階層的同類元素中，選出最後面的元素。 好像是順時鐘翻轉 */
  transform: rotate(180deg);
}


/* 背面的圖案 */
.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

/* 配對成功的顏色 */
.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
  /* border: 3px solid yellow; */
}

#header .tried {
  margin: 0;
  /* border: 3px solid blue; */
}

#header .time {
  /* border: 3px solid red; */
  margin-top: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  /* 新增：寬度和標頭一致 */
  margin: 0 auto;
  /* 新增：置中 */
}

.card {
  box-sizing: border-box;
  flex: 7% 1 1;
  /* 修改：卡片需要分配剩餘空間 */
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #f1c232;

  }

}


/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}

/** Game failed **/
.failed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.failed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.failed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #FF0000;
}


.retry {
  font-size: 1.5em;
  color: black;
  /* text-align: center; */
  margin: 0;
}

.retrydiv{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}